<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - UMS.UI<</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
    <!-- Favicon icon -->
    <link rel="icon" href="~/assets/images/favicon.svg" type="image/x-icon">
   @{await Html.RenderPartialAsync("_StyleSheetPartial.cshtml");}
</head>
<body class="">
	<!-- [ Pre-loader ] start -->
	<div class="loader-bg">
		<div class="loader-track">
			<div class="loader-fill"></div>
		</div>
	</div>
	<!-- [ Pre-loader ] End -->
	<!-- [ Mobile header ] start -->
     @{await Html.RenderPartialAsync("_MobileHeader.cshtml");}
	<!-- [ Mobile header ] End -->
	<!-- [ navigation menu ] start -->
    @{await Html.RenderPartialAsync("_Sidebar.cshtml");}
    <!-- [ navigation menu ] end -->
	<!-- [ Header ] start -->
    @{ await Html.RenderPartialAsync("_Header.cshtml");}
    <!-- [ Header ] end -->

    <!-- [ Main Content ] start -->
    <div class="pc-container">
          @RenderBody();
    </div>
    <!-- [ Main Content ] end -->
    <!-- Required Js -->
    @{await Html.RenderPartialAsync("_RequiredScriptPartial.cshtml");}
     <!-- Required Js -->
    @{ await Html.RenderPartialAsync("_Settings.cshtml");}
    <script src="~/assets/js/site.js"></script>
   
    <!-- Sidebar Settings Js -->
   @await RenderSectionAsync("Scripts", required: false)
   </body>
   </html>
